[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Svetlana Harisova <light@rathedg.com>
  #%]

[% DEFAULT qs_suffix = "" %]
<ul class="visualNoMarker">
  <li><a href="./">Main page</a></li>
  <li><a href="enter_bug.cgi?product=Using%20CellML&format=generalhelp">Submit question about CellML</a></li>
  <li><a href="enter_bug.cgi?product=cmgui&format=generalhelp">Submit question about cmgui</a></li>
  <li><a href="enter_bug.cgi?product=CellML%20Repository%20Models%20%2F%20Curation%20Issues&format=repomodel">Submit CellML repository issue</a></li>
  <li><a href="enter_bug.cgi?format=software">Submit bug report</a></li>
  <li><a href="enter_bug.cgi">Advanced submission</a></li>
  <li><a href="query.cgi">Advanced Search</a></li>
  <li><a href="report.cgi">Reports &amp; charts</a></li>

  <li>
    [% IF user.id %]
      <a href="request.cgi?requester=[% user.login FILTER url_quote %]&amp;requestee=
               [% user.login FILTER url_quote %]&amp;do_union=1&amp;group=type">My Requests</a>
    [% ELSE %]
      <a href="request.cgi">Requests</a>
    [% END %]
  </li>

  [% IF user.id && Param('usevotes') %]
    <li><a href="votes.cgi?action=show_user">My Votes</a></li>
  [% END %]
</ul>

[% Hook.process("link-row") %]
[% BLOCK link_to_documentation %]
    [% IF doc_section && Param('docs_urlbase') %]
      <li>
        <span class="separator">| </span>
        <a href="[% docs_urlbase _ doc_section FILTER html %]" target="_blank">Help</a>
      </li>
    [% END %]
[% END %]
