[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Svetlana Harisova <light@rathedg.com>
  #%]

[%# INTERFACE:
  # This template has no interface. However, you must fulfill the interface to
  # global/useful-links.html.tmpl.
  #%]

[% INCLUDE "global/help.html.tmpl" %]

</div></div>

     </td>
     <td id="portal-column-two">
       <div class="visualPadding">
         <div class="portlet" id="portlet-about">
           <h5>About</h5>
           <div class="portletBody">
             <div class="portletContent odd">
               <p>This tracker is a place where questions, comments, bug reports,
                  an suggestions / proposals about Physiome projects can be
                  entered and tracked.</p>
             </div>
           </div>
         </div>
       </div>
       [%# We have no other choices than enumerating all required privileges to have
         # at least one link in this section. %]
       [% IF user.login
     && (user.groups.tweakparams || user.groups.editusers || user.can_bless
         || (Param('useclassification') && user.groups.editclassifications)
         || user.groups.editcomponents || user.groups.admin || user.groups.creategroups
         || user.get_products_by_permission("editcomponents").size
         || user.groups.editkeywords || user.groups.bz_canusewhines)%]
         <div class="portlet" id="portlet-admin">
           <h5>Administration</h5>
           <div class="portletBody">
             <div class="portletContent even">
               [% PROCESS "global/admin-links.html.tmpl" %]
             </div>
           </div>
         </div>
       </div>
       [% END %]
     </td>
   </tr>
 </tbody>
</table>

[%# Migration note: below this point, this file corresponds to the old Param
  # 'footerhtml'
  #%]

  <div class="visualClear"><!-- --></div>
  <hr class="netscape4" />
  <div id="portal-footer">
    E-mail website feedback to 
    <a href="mailto:webmaster@cellml.org">webmaster@cellml.org</a>
  </div>
</body>
</html>

