
/* ----- physiome.css ----- */
@media all {
/*
  Physiome Projects's CSS definitions
  ----------------------------------------
  
  This file contains snippets from Plone 2.1 CSS definitions.
  Color and icon information has been modified. If something 
  is not defined here it is read from Plone's default skin files.
 
   (Loads base_properties variables)

   (Do not change this)
    
*/



/* ### Begin GdW 20060829 ### */

	/* 
		### invaild tag ###
		h10 undefined by our target document type, so won't validate. Used as site-wide 'IUPS Physiome Project' heading.
		Deprecated, now using id and h2. Will keep style declaration here so to not break anything.
	*/
	h10, 
	#physiome-navbar h2 {
           color: Black;
           background-color: transparent;
           font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
           font-weight: normal;
           margin: 0 0 0.25em 0;
           border-bottom: 1px solid black;
        }
   
        h10 a,
        #physiome-navbar h2 {
           color: Black ! important;
        }
        
        h10,
        #physiome-navbar h2 {
           font-size: 300%;
           border-bottom: none;
           font-weight: bold;
        }

	/* 
		### invaild tag ###
		h7 undefined by our target document type, so won't validate. Used in left peer nav links. Deprecated, now 
		using lists. Will keep style declaration here so not to break anything, but could likely remove.
	*/
        h7 {
            color: Black;
            font-size: 110%;
            padding-left: 1em;
            font-weight: bold;
        }

/* ### End GdW 20060829 ### */

h8 {
color: Black;
background-color: transparent;
font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
font-size: 100%;
padding-left: 2em;
}

a  
{
    text-decoration: none;
    background-color: transparent;
}

.separator {border-bottom: 1px solid #ce0226}

pre {
border: none;;
color: Black;
background-color: transparent;;
overflow: auto;
}

/* Portlets */
dl.portlet {
    margin: 1px 0 1em 0;
}

dl.portlet a {
    text-decoration: none;
}

.portletHeader {
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    font-size: 140%;
    color: black;
    background-color: transparent;
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ce0226;
    padding-top: 0em;
    padding-right-value: 1em;
    padding-bottom: 0em;
    padding-left-value: 1em;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
    text-transform: lowercase;
    font-weight: bold;
    line-height: 1.6em;
}

.portletHeader a {
    color: black;
}

.portletItem  
{
    margin-top: 0pt;
    margin-right-value: 0pt;
    margin-bottom: 0pt;
    margin-left-value: 0pt;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
    margin-right-ltr-source: physical;
    margin-right-rtl-source: physical;
    padding-top: 1em;
    padding-right-value: 1em;
    padding-bottom: 1em;
    padding-left-value: 1em;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #ce0226;
    border-right-width: 1px;
    border-right-style: none;
    border-right-color: none;
}




.portletItemSingle {
    margin: 0;
    padding: 1em;
    border: 1px solid black;
    border-top: none;
}

dd.portletItemLast {
    margin: 0;
    padding: 0.25em 1em;
    border: 1px solid black;
    border-top-style: none;
}


.portletItem a {
    display: block;
}

.portletItemDetails {
    text-align: right;
    display: block;
    color: Black;
}

dd.portletFooter {
    background-color: transparent;
    margin: 0;
    padding: 0.25em 1em;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #ce0226;
    border-right-width: none;
    border-right-style: none;
    border-top-style: dotted;
    border-bottom-style: none;
    text-align: right;
}




.even 
{
    background-color: transparent;
}


.odd 
{
    background-color: transparent;
}

/* physiome navbar style and positioning */
#physiome-navbar {
    background-color: transparent;
    text-align: center;
}


#portal-logo {
    border-bottom: 1px solid #ce0226;
    border-right: 1px solid #ce0226;
    background: url(/images/logo-physiome.png) no-repeat;
    margin: 0.1em 0em 0.1em 2em;
    padding: 0;
    margin-top: 10px;
    width: 154px;
}
#portal-logo a {
    display: block;
    text-decoration: none;
    overflow: hidden;
    border: 0;
    margin: 10;
    padding: 0;
    padding-top: 90px;
    height: 0px !important;
    height /**/: 90px;
    width: 154px;
    cursor: pointer;
}

/* searchbox style and positioning */
#portal-searchbox {
    float: right;
    clear: right;
    background-color: transparent;
    margin: 1.5em 1em 0 0;
    padding: 0 0em 0 0;
    text-align: right;
    text-transform: lowercase;
    white-space: nowrap;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    line-height: 3.0em;
}

#portal-personaltools {
    /* Bar with personalized menu (user preferences, favorites etc) */
    background: transparent;
    float: right;
    border-top-style: none;;
    border-bottom-style: none;;
    line-height: 1.3em;
    color: Black;
    padding: 0em 1em 0em 0em;
    margin: 0;
    text-align: right;
    text-transform: lowercase;
    list-style: none;
}

#portal-personaltools .portalUser {
    background: transparent url(http://www.physiome.org.nz/user.gif) center left no-repeat;
    padding-left: 15px;
}

#portal-personaltools .portalNotLoggedIn {
} /* Used on all descriptions relevant to those not logged in */
 
#portal-personaltools li {
    background: transparent;
    padding-left: 0;
    color: black;
    margin-left: 0em;
    display: inline;
}

#portal-personaltools li a {
    text-decoration: none;
    color: black;
}

.visualCaseSensitive {
    text-transform: none;
}

#portal-footer {
    background-color: transparent;;
    border-top: 1px solid #ce0226;
    border-bottom: none;;
    float: none;
    margin: 2em 0em 1em 0em;
    padding: 0.5em 0em 1em 0em;
    text-align: center;
}

#portal-column-content {
    background-color: transparent;;
    border-top: 1px solid #ce0226;
    border-left: 1px solid #ce0226;
    float: none;
}

#physiome-menu {
    margin: 0em 2em 0em 1em;
}


/* 
    ### Begin GdW 20060829 ### 
    Converted invalid h7 tags to lists in left peer nav.
*/

	#physiome-menu h3 {
		padding-bottom:2px;
		font-weight:bold;
		border-bottom:1px solid #FF0000;
	}
	
	#physiome-menu ul {
		margin:0.5em 0;
		padding:0 0 0 1em;
	
	}
	
	#physiome-menu a:link,
	#physiome-menu a:visited {
		color: #000;
		text-decoration:none;
	}
	
	#physiome-menu a:visited { 
		color: #000;
		text-decoration:none;
	}
	
	#physiome-menu a:focus,
	#physiome-menu a:hover {
		color: red;
		text-decoration:underline;
	}

/* ### End GdW 20060829 ### */


.namespace {
	color: darkblue;
}

.element,
.attribute,
.keyword {
    color: maroon;
    font-weight: bold;
}

.comment {
    color: gray;
    font-style: italic;
}

.string {
    color: green
}

.type {
    color: teal;
    text-decoration: underline;
}



/* 
    (end of loaded base_properties variables)

*/

}

